/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Newsreader:ital,opsz@0,6..72;1,6..72&display=swap'); */

@import "tailwindcss";


html {
    background-color: #c7c7c7;
    color: #000000;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: none !important;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    color: #2e00fd;
    cursor: none !important;
}

@theme {
    --font-mono: IBM Plex Mono, monospace;
    --font-serif: Newsreader, serif;
    --color-neutral: #c7c7c7;
    --color-bright: #cacaca;
}

#main-container {
    width: 64vw;
    height: 100vh;
    position: fixed;
    left: 10px;
    /* border: 1px solid #9e9e9e; */
}

#left-container {
    width: 68vw;
    height: 97vh;
    position: fixed;
    left: 10px;
    top: 11px;
    /* padding: 10px; */
    overflow-y: auto;
    /* border: 1px solid #9e9e9e; */
}

#sitemap {
    width: 30vw;
    height: 97vh;
    position: fixed;
    right: 10px;
    top: 11px;
    padding: 10px;
}

#right-container {
    width: 30vw;
    height: 97vh;
    position: fixed;
    right: 10px;
    top: 11px;
    /* margin: 10px; */
    padding: 10px;
    /* border: 1px solid #414141; */
}


.container {
    scrollbar-width: none;
}

.header {
    margin: 8px 0 0 8px;
}

.mono {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
}