---
import Blogs from "../components/blogs.astro";
import Nav from "../components/nav.astro";
import { getAssetPath } from "../utils/paths.ts";
import "../styles/global.css";
import Mouse from "../components/Mouse.svelte";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={getAssetPath("favicon.svg")}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>writing</title>
    </head>
    <body>
        <Nav />
        <section class="container main-container overflow-y-auto">
            <section class="font-mono text-sm pt-10 pb-2">
                <Blogs />
            </section>
        </section>
        <Mouse client:load />
    </body>
</html>
