---
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import HelloButton from "../components/HelloButton.svelte";
import Nav from "../components/nav.astro";
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>viola new website</title>
	</head>
	<body>
		<Nav />
		<section class="container" id="main-container">
			<About />
			<Projects />
			<HelloButton client:load />
		</section>
		<section class="container" id="right-container">
			<p></p>
		</section>
	</body>
</html>
