---
import Nav from "../components/nav.astro";
import Mouse from "../components/Mouse.svelte";
import LocalTime from "../components/localTime.svelte";
import { getAssetPath } from "../utils/paths.ts";
import Winamp from "../components/winamp.astro";
import Gadgets from "../components/gadgets.astro";
import MouseFollower from "../components/MouseFollower.svelte";
import { getLinkHref } from "../utils/paths.ts";
import LittleThings from "../components/littlethings.astro";
import SiteMap from "../components/sitemap.astro";

import "../styles/global.css";
import "../styles/cursor.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={getAssetPath("favicon.svg")}
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>viola new website</title>
        <style>
            html,
            body,
            * {
                cursor: none !important;
            }
        </style>
    </head>
    <body>
        <Nav />
        <div class="flex">
            <section class="container main-container overflow-y-auto">
                <section class="font-mono text-sm pt-10 pb-2">
                    <div class="rc-scout-wrapper">
                        <div class="rc-scout" data-scout-rendered="true">
                            <p class="rc-scout__text">
                                i spent six weeks at
                                <i class="rc-scout__logo"></i>
                                <a
                                    class="rc-scout__link italic hover:not-italic"
                                    href="https://www.recurse.com/scout/click?t=7a3860b372e3c149097c6c53b1b87e3d"
                                    >Recurse Center</a
                                > working on becoming a better programmer. it's very
                                hard to contain and summarize this experience, but
                                i was building this website for 3 of these weeks,
                                so i thought it might be nice to toss everything
                                in here, alongside many small projects in collaboration
                                with wonderful people I met at RC.
                            </p>
                        </div>
                        <style class="rc-scout__style" type="text/css">
                            .rc-scout {
                                display: block;
                                padding: 0;
                                border: 0;
                                margin: 0;
                            }
                            .rc-scout__text {
                                display: block;
                                padding: 0;
                                border: 0;
                                margin: 0;
                                height: 100%;
                                font-size: 100%;
                            }
                            .rc-scout__logo {
                                display: inline-block;
                                padding: 0;
                                border: 0;
                                margin: 0;
                                width: 0.85em;
                                height: 0.85em;
                                background: no-repeat center
                                    url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2015%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2212%22%20height%3D%2210%22%20fill%3D%22%23000%22%3E%3C%2Frect%3E%3Crect%20x%3D%221%22%20y%3D%221%22%20width%3D%2210%22%20height%3D%228%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%222%22%20y%3D%222%22%20width%3D%228%22%20height%3D%226%22%20fill%3D%22%23000%22%3E%3C%2Frect%3E%3Crect%20x%3D%222%22%20y%3D%223%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%233dc06c%22%3E%3C%2Frect%3E%3Crect%20x%3D%224%22%20y%3D%223%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%233dc06c%22%3E%3C%2Frect%3E%3Crect%20x%3D%226%22%20y%3D%223%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%233dc06c%22%3E%3C%2Frect%3E%3Crect%20x%3D%223%22%20y%3D%225%22%20width%3D%222%22%20height%3D%221%22%20fill%3D%22%233dc06c%22%3E%3C%2Frect%3E%3Crect%20x%3D%226%22%20y%3D%225%22%20width%3D%222%22%20height%3D%221%22%20fill%3D%22%233dc06c%22%3E%3C%2Frect%3E%3Crect%20x%3D%224%22%20y%3D%229%22%20width%3D%224%22%20height%3D%223%22%20fill%3D%22%23000%22%3E%3C%2Frect%3E%3Crect%20x%3D%221%22%20y%3D%2211%22%20width%3D%2210%22%20height%3D%224%22%20fill%3D%22%23000%22%3E%3C%2Frect%3E%3Crect%20x%3D%220%22%20y%3D%2212%22%20width%3D%2212%22%20height%3D%223%22%20fill%3D%22%23000%22%3E%3C%2Frect%3E%3Crect%20x%3D%222%22%20y%3D%2213%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%223%22%20y%3D%2212%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%224%22%20y%3D%2213%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%225%22%20y%3D%2212%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%226%22%20y%3D%2213%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%227%22%20y%3D%2212%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%228%22%20y%3D%2213%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3Crect%20x%3D%229%22%20y%3D%2212%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22%23fff%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
                            }
                        </style>
                    </div>
                </section>
                <section>
                    <LittleThings />
                </section>
                <br />
            </section>

            <section>
                
            </section>
            <section
                class="container outline overflow-y-auto main-container-right"
                id="right-container"
            >
                <div class="absolute bottom-1 left-3">
                    <Gadgets />
                </div>
                <div class="px-3">
                    <SiteMap />
                </div>
            </section>
            <!-- <LocalTime client:load /> -->
        </div>
    </body>
    <Winamp />
</html>
<Mouse client:load />
