<div id="intro" class="pt-10 pb-2 pr-10 font-mono text-sm">
    <p>
        <span class="font-serif italic normal-case hover:not-italic"
            >Viola He</span
        > is a Shanghai / NYC-based multimedia artist, educator, electronic musician,
        and creative technologist. They make web and irl performances and experiences,
        exploring new sonic and visual aesthetics across digital and physical mediums.
        Viola is an Assistant Professor of Interactive Media Arts at NYU Shanghai,
        an organizing member of leaderless collective
        <a
            class="font-serif italic hover:underline-dotted hover:not-italic"
            href="https://livecode.nyc/">Livecode.NYC</a
        >, and creates playful media with translocal game collective <a
            class="font-serif italic hover:underline-dotted hover:not-italic"
            href="https://www.instagram.com/rect_repair/"
            >[[rect*]] repair
        </a>. CV available upon request.
    </p>
    <p class="font-mono italic text-sm pt-2 flex gap-x-1">
        <a
            class="px-1 border-1 border-dotted border-gray-400 inline-flex hover:bg-bright hover:rounded-sm hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] hover:shadow-[0_0_30px_rgba(200,200,255,0.5)] dark:hover:bg-dark-bright dark:hover:rounded-sm dark:hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] dark:hover:shadow-[0_0_6px_rgba(200,200,255,0.5)]"
            href="https://www.instagram.com/v10101a/">Instagram</a
        >
        <a
            class="px-1 border-1 border-dotted border-gray-400 inline-flex hover:bg-bright hover:rounded-sm hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] hover:shadow-[0_0_30px_rgba(200,200,255,0.5)] dark:hover:bg-dark-bright dark:hover:rounded-sm dark:hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] dark:hover:shadow-[0_0_6px_rgba(200,200,255,0.5)]"
            href="https://www.github.com/sandpills">GitHub</a
        >
        <a
            class="px-1 border-1 border-dotted border-gray-400 inline-flex hover:bg-bright hover:rounded-sm hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] hover:shadow-[0_0_30px_rgba(200,200,255,0.5)] dark:hover:bg-dark-bright dark:hover:rounded-sm dark:hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] dark:hover:shadow-[0_0_6px_rgba(200,200,255,0.5)]"
            href="mailto:viola@nyu.edu">Email</a
        >
    </p>
</div>
