---
import { getCollection } from "astro:content";
import CardListWrapper from "../layouts/CardListWrapper.astro";
import CardListItem from "../layouts/CardListItem.astro";
import Card from "../layouts/Card.astro";
import "../styles/global.css";

const blogs = await getCollection("blogs");
console.log("Blogs loaded:", blogs.length);
---

<section>
    <p class="font-mono italic text-sm">found {blogs.length} blogs.</p>
</section>
<section>
    <CardListWrapper>
        {
            blogs.map((post: any) => (
                <CardListItem>
                    <Card
                        href={`/blogs/${post.id}/`}
                        title={post.data.title}
                        body={post.data.description ?? ""}
                        tags={post.data.tags}
                        date={
                            post.data.date
                                ? new Date(post.data.date)
                                : undefined
                        }
                    />
                </CardListItem>
            ))
        }
    </CardListWrapper>
</section>
