<div class="header flex gap-x-3 mx-auto font-mono italic">
    <a href="/" class="px-1 shadow-lg inline-flex hover:blur-xs">violand.xyz</a>
    <a href="/blog/" class="px-1 shadow-lg inline-flex hover:blur-xs">blog</a>
</div>
