---
import { getLinkHref } from "../utils/paths.ts";
---

<div
    class="header flex gap-x-3 mx-auto font-mono italic fixed top-0 left-0 right-0 z-1"
>
    <a
        href={getLinkHref("/")}
        class="px-1 shadow-lg inline-flex bg-neutral hover:blur-xs"
        >violand.xyz</a
    >
    <a
        href={getLinkHref("/blog/")}
        class="px-1 shadow-lg inline-flex bg-neutral hover:blur-xs">blog</a
    >
</div>
