---
import { getCollection } from "astro:content";
import CardListWrapper from "./CardListWrapper.astro";
import CardListItem from "./CardListItem.astro";
import CardLong from "./CardLong.astro";

const projects = await getCollection("projects");
console.log("Projects loaded:", projects.length);
---

<section class="font-mono italic text-sm pb-2">
    <p>found {projects.length} projects.</p>
</section>
<section>
    <CardListWrapper>
        {
            projects.map((project: any) => (
                <CardListItem>
                    <CardLong
                        href={`/projects/${project.id}/`}
                        title={project.data.title}
                        body={project.data.description ?? ""}
                        tags={project.data.tags}
                        date={
                            project.data.year
                                ? new Date(project.data.year, 0, 1)
                                : undefined
                        }
                    />
                </CardListItem>
            ))
        }
    </CardListWrapper>
</section>
