---
import { getCollection } from "astro:content";
import "../../styles/global.css";
import "../../styles/project.css";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/nav.astro";

export async function getStaticPaths() {
    const blogs = await getCollection("blogs");
    return blogs.map((blog) => ({
        params: { slug: blog.id },
        props: { blog },
    }));
}

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{blog.data.title}</title>
    </head>
    <body>
        <a href="/">Viola He</a>
        <h1>{blog.data.title}</h1>
        {
            blog.data.pubDate && (
                <p>
                    Published:{" "}
                    {new Date(blog.data.pubDate).toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                    })}
                </p>
            )
        }
        {blog.data.description && <p>{blog.data.description}</p>}

        {
            blog.data.tags && (
                <div>
                    <p>Tags: {blog.data.tags.join(", ")}</p>
                </div>
            )
        }

        <Content />
    </body>
</html>
