<span
    class="px-1 font-mono italic text-xs border-1 border-dotted border-gray-400 inline-flex hover:bg-bright hover:rounded-sm hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] hover:shadow-[0_0_30px_rgba(200,200,255,0.5)] dark:hover:bg-dark-bright dark:hover:rounded-sm dark:hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] dark:hover:shadow-[0_0_6px_rgba(200,200,255,0.5)]"
>
    <slot />
</span>
