---
interface Props {
    href?: string;
    title: string;
    body?: string;
    tags?: string[];
    date?: Date;
}

const { href, title, body, tags, date } = Astro.props;
---

<div
    class="w-full p-3 shadow-md hover:rounded-xl hover:shadow-[0_0_25px_rgba(200,200,255,0.9)] hover:inset-shadow-[0_0_20px_20px_rgba(100,100,200,0.1)] hover:bg-bright"
>
    <span
        class="font-mono italic text-xs px-1 border-1 border-dotted border-gray-400 inline-flex hover:bg-bright hover:rounded-sm hover:inset-shadow-[0_0_5px_5px_rgba(0,0,255,0.1)] hover:shadow-[0_0_30px_rgba(200,200,255,0.5)]"
    >
        {tags}
    </span>
    <p class="text-sm font-serif">
        {
            date &&
                date.toLocaleDateString("en-US", {
                    month: "short",
                    day: "numeric",
                })
        }
        <a href={href} class="pl-1 hover:blur-xs font-serif text-lg non-italic">
            {title}</a
        >
    </p>
    <h3></h3>
    <p class="pb-2 pt-1 font-mono text-xs">{body}</p>
</div>
